* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
span#icon {
    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
    padding: 10px;
}

body {
    background-color: lightgray;
}
header {
    padding: 10px;
}
header > h1 {
    flex: 0 0 200px;
}
nav#navbar {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
}
header > nav > a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
    padding: 10px;
    margin: 5px;
}
header > nav > a:hover {
    background-color: lightgray;
    color: black;
}

#menuP {
    cursor: pointer;
    height: 30px;
}
menu {
    display: flex;
    justify-content: center;
}

header {
    background-color: grey;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    
}
header > h1 {
    color: white;
    text-shadow: 1px 1px black;
    align-self: center;
}
header > menu > ul {
    list-style-type: none;
    display: none;
}
header > menu > ul > li {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
main {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
}

@media screen and (max-width:600px) {
    nav#navbar {
        display: none;
    }
    header {
        justify-content: center;
        flex-flow: column wrap;
    }
    header > h1 {
        flex:0 0 0px
    }
    span#icon {
        display: block;
    }
}
@media screen and (min-width:600px) {
    nav#navbar {
        display: flex;
    }
}